// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
}
// Спойлер
.spollers__item {
  border-bottom: 1px solid #eee;

  &:first-child {
    border-top: 1px solid #eee;
  }
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;

  font-weight: 400;
  font-size: toRem(16);
  line-height: 135%;

  padding: toRem(25) toRem(0);
  position: relative;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: toRem(10);

  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;
    &::after {
      content: "\e900";
      @extend %ic;
      transition: transform 0.5s ease 0s;
      font-size: toRem(13);
    }
    &._spoller-active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
// Контент спойлера
.spollers__body {
  padding: toRem(5) 0 toRem(25);
}
