//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  width: 100%;
  display: block;

  border: 1px solid #161616;
  border-radius: 10px;
  padding: 20px;
  @include adaptiveValue("height", 60, 50);

  font-family: "Century Gothic";
  font-weight: 400;
  font-size: toRem(16);
  line-height: 135%;
  color: #161616;

  &::placeholder {
    color: rgba(22, 22, 22, 0.4);
  }
  &:focus {
    outline: none;
  }

  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
